.results-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.results-container > h1 {
  width: 300px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(253, 249, 249);
  text-align: center;
  padding: 0px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: normal;
  border-radius: 10px;
  border: 1px solid rgb(249, 251, 252);
  box-shadow: inset 0 0 10px rgb(228, 237, 228);
  background-color: orange;
}

.results-grid {
  display: grid;
  grid-template-columns: 170px repeat(8, 55px) 60px 85px 85px;
  gap: 3px;
  padding: 3px;
  border-radius: 5px;
  background-color: rgba(14, 168, 234, 0.7);
  border: 1px solid white;
  overflow-y: auto;
}
.results-grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 15px;
  background: white;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.results-grid.hide-totals {
  grid-template-columns: 170px repeat(8, 55px) 60px !important;
}
.results-grid.hide-birdies {
  grid-template-columns: 170px repeat(8, 55px) 85px 85px !important;
}
.results-grid.hide-highscore {
  grid-template-columns: repeat(2, 1fr);
}
.header {
  background-color: rgb(46, 101, 239) !important;
  color: rgb(253, 253, 254);
  font-weight: bold;
}

.low-score {
  color: rgb(255, 38, 0) !important;
  font-weight: bold;
}
.top-Score {
  color: #fe0526 !important;
  font-weight: bold;
}
button {
  padding: 2px 4px;
  margin: 0 25px;
  background-color: rgb(95, 196, 239);
  border: 1pt solid white;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}
.clicked {
  color: rgb(19, 12, 222);
  transform: scale(1.2);
}

.select-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 230px;
  padding-bottom: 5px;
}
.sortBy {
  background-color: rgb(255, 254, 252);
  color: #0303fefa;
  font: bold;
  width: 125px;
  font-size: 1rem;
  text-align: center;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
.custom-select {
  width: 100%;
  padding: 4px;
  font-size: 1rem;
  background: #f8f8f8;
  border: none;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
  transition: background 0.2s ease;
  margin-top: 5px;
}

/* Add custom dropdown arrow */
.select-wrapper::after {
  content: "▼";
  font-size: 1.2rem;
  color: #0808fe;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Hover & Focus effects */
.custom-select:hover {
    background-color: rgb(127, 205, 238);
}


/* For smaller screens (e.g. phones) */
@media (max-width: 900px) {
  .results-grid {
    gap: 3px;
    font-size: 10px;
    /* grid-template-columns: 110px repeat(8, 40px) 40px 70px 75px; */
  }
  .results-grid.hide-totals {
    grid-template-columns: 110px repeat(8, 40px) 50px !important;
  }
  .results-grid.hide-birdies {
    grid-template-columns: 110px repeat(8, 40px) 70px 75px !important;
  }

  /* button {
    font-size: 12px;
  } */

  h1 {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .results-grid {
    font-size: 8px;
    gap: 1px;
  }
  .results-grid.hide-totals {
    grid-template-columns: 118px repeat(8, 19px) 37px !important;
  }
  .results-grid.hide-birdies {
    grid-template-columns: 118px repeat(8, 19px) 30px 30px !important;
  }

  button {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }
}
