.add-container {
  width: 70%;
  height: 100vh;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  max-height: 560px;
  font-family: sans-serif;
  border-radius: 10px;
  background-color: rgba(210, 222, 243, 0.5);
  backdrop-filter: blur(10px);
  scrollbar-width: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  width: 500px;
  padding: 20px;
  border: solid 2px rgb(195, 240, 230);
  border-radius: 5px;
  background-color: rgba(14, 168, 234, 0.3);
  box-shadow: inset 0 0 10px rgb(109, 240, 231);

}

.form-grid label {
  display: flex;
  align-items: center; /* vertically center label */
  font-weight: bold;
}

.form-grid input,
.form-grid select {
  padding: 6px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;

}

.submit-btn {
  grid-column: 1 / span 2; /* button spans both columns */
  padding: 10px;
  font-size: 1rem;
  width: 80px;
  margin: auto;
  margin-bottom: 10px;
  background-color: orange;
  border: solid 2px white;
  border-radius: 5px;

  /* background-color: rgb(185, 239, 243); */
}

@media (max-width: 500px) {
  .form-grid {
    grid-template-columns: 100px 1fr;
  }
  .form-grid {
    width: 300px;
  }
  .add-container {
    width: 95%;
  }
  /* .submit-btn {
    grid-column: 1;
  } */
}
