@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 12pt;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}
body {
  background: url("../images/bcc.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}
nav {
  width: 100%;
  height: 50px;
  background-color: rgb(95, 196, 239);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f0f0f0;
}
nav a:hover {
  background-color: orange;
}
nav a.selected {
  background-color: orange;
}

nav svg {
  fill: red;
}
#sidebar-active {
  display: none;
}
.open-sidebar-button,
.close-sidebar-button {
  display: none;
}
.navbar-logo {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: auto;
  margin-left: 20px;
}
.sixfromeight {
  color: orange;
  font-size: 30px;
}
.fromtop {
  color: rgb(7, 7, 7);
  font-size: 15px;
  transform: rotate(-20deg);
  padding: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background: transparent;
}

.grid-container {
  display: grid;
  width: 70%;
  height: 85%;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  place-items: center;
  background-color: rgba(210, 222, 243, 0.5);
  margin: 20px;
  border-radius: 10px;
  font-size: 3rem;
  gap: 25px;
  padding: 20px;
  position: relative;
  border: 2px solid white;
  backdrop-filter: blur(10px);
}

.welcome {
  margin-top: 40px;
  background-color: orange;
  width: 50%;
  text-align: center;
  border-radius: 50px;
  font-size: clamp(1.2rem, 3vw, 4rem);
  font-weight: 600;
  color: darkslateblue;
}
.sixofeight {
  display: flex;
  color: orange;
  font-size: 50px;
}
.sixofeight h2 {
  color: rgb(7, 7, 7);
  transform: rotate(-20deg);
  font-size: 1.2rem;
  margin-left: 10px;
  line-height: 120px;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  top: 80px;
  translate: -50% -50%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid orange;
  z-index: 9;
}
.winterChallenge {
  text-align: center;
}
/* .saveTheDate {
  position: absolute;
  left: 70%;
  top: 60%;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: orange;
  font-size: clamp(1rem, 1vw, 1.25rem);
  color: rgb(7, 7, 7);
} */

.warning {
  color: red;
  font-weight: bold;
  font-size: clamp(1.2rem, 2.75vw, 3.5rem);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  background: white;
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  width: 60%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}
.popup-overlay.hidden {
  display: none;
}

@media (max-width: 560px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: rgb(95, 196, 239);
    box-shadow: -5px 0 5px rgba(212, 204, 204, 0.25);
    transition: 0.75s ease-out;
  }
  .image {
    width: 120px;
    height: 120px;
    left: 30px;
    top: 40px;
  }
  .navbar-logo {
    display: none;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}
